img{
	width: 25%;
}

h1{
	color:#000000;
}

h2{
	color:#000000;
	text-decoration: underline;
}

h3{
	color:#000000;
}

h4{
	color:#000000;
}

body{
	background-color: #FFBFE7;
	color:#006699;
	font-family: didot;

}

a{color: #006699;

}
